.main-logo{
    width: 1.5rem;
    max-width: 765px;
    margin: 0 3px 3px;
}

#sidebar-view-toggle-icon{
	position: absolute;
	margin: .5rem;
	top: 45vh;
	cursor: pointer;
}

.search-icon{
    margin: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.custom-font-size *{
	font-size:0.75rem;
}

.cursor-pointer{
	cursor: pointer;
}

table input[type=checkbox]{
	vertical-align: middle;
}

.searchGrNm{
	cursor:pointer;
}
.search-icon:hover{
    color: dimgrey;
}

.custom-radio-label > label{
    margin: 0.5rem;
}

#wrapper{
	height: 100%
}

#main-div{
	padding-top: 0.2rem;
	width: 100%;
}

#accordionSidebar{
	margin: 0.2rem 0 0.5rem 0.5rem;
}

.list-ul{
	border:1px solid rgba(0,0,0,.125);
	border-radius:0.35rem;
	padding: 1rem;
}

.list-ul *{
	cursor:pointer;
}

.ul-div{
	display:none;
}

.custom-group-list{
	padding:0.5rem;
	user-select:none;
	-ms-user-select: none !important;
}

.selected{
	background-color:#eaecf4;
}

.custom-group-list li{
	margin-left: 2rem;
}

.custom-group-list-li{
	margin: 0.25rem 0;
}
.sidebar-inner-span{
	cursor:pointer;
}

.sidebar-inner-div{
	display: none;
}
.sidebar-inner-div .collapse-item{
	margin-left: 2rem !important;
}

.disable{
	pointer-events: none;
}

.registeration-tabs > .nav-item{
	text-align: center;
	width:10%;
}
.nav-link > p{
	margin: 0;
}

.custom-modal-90size{
	 max-width: 100%; 
	 width: 90%; 
	 display: table;
}

.member-result-table{
	display:none;
}

.datepicker-padding{
	padding: 0.375rem 0.75rem !important;
}

.detail-search-div{
	display: none;
}

#AXPlayer{
	width: 1150px;
	height: 165px;
	text-align: center;
}

.feedback-modal-textarea, .sample-modal-textarea, .recordMemo-modal-textarea{
	width: 100%;
	height: 10vh;
	resize: none;
}

.user-select-none{
	user-select: none;
	-ms-user-select: none;
}

.feedback-content-div{
	border: 1px solid #e3e6f0;
	padding: .5rem;
	margin: .5rem 0;
	min-height: 10vh;
}

#feedback-view-data-table th, td{
	white-space: nowrap;
}

.button-div .btn-group{
	display: none;
}

.w-6rem{
	width: 6rem;
}

.search-row-add-icon {
	font-size: 1rem;
	padding: .5rem 0;
	cursor: pointer;
}

.loading-div{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0, 0.3);
	display: none;
	z-index: 2000;
}

.mv-action-icon{
	font-size: 0.5rem;
}

.monitoring-agent-div{
	width: 5rem;
	height: 4rem;
	display: inline-block;
	border: 1px solid;
	border-radius: .2rem;
	margin: .2rem;
	position: relative;
	background: white;
	cursor: pointer;
}

.monitoring-agent-div div{
	padding: 0 .2rem;
}

.monitoring-div-container{
	height: 75vh;
	overflow: auto;
	width: 100%;
	padding: 0.75rem;
	display: inline-block;
	border: 1px solid #e3e6f0;
	border-radius: .2rem;
}

.agent-info-div{
	display: inline-table;
	border-radius: .2rem;
	width: 8rem;
	margin-left: 0.75rem;
	border: 1px solid #e3e6f0;
	padding: .5rem;
}

.agent-info-div div:nth-child(even):not(:last-child){
	margin-bottom: .75rem;
}

.agent-info-div div:nth-child(odd){
	font-size: small;
}

.agentName-div{
	padding: .2rem;
}

.station-div{
	position: absolute;
	bottom: 0;
	border-bottom-left-radius: .15rem;
	border-bottom-right-radius: .15rem;
	width: 100%;
}

.monitoring-agent-div div:last-child span:first-child{
	color: rgb(48,209,88);
}

.duration-div{
	text-align: right;
	padding: 0 .2rem;
	border-top-left-radius: .15rem;
	border-top-right-radius: .15rem;
	color: white;
}

.monitoring-on{
	background: #4e73df;
	color: white;
}

.monitoring-off{
	background: #858796;
}

.toggle-icon{
	color : rgb(255,69,58);
}